@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* // VARIABLES */

:root {
  --FF: "Poppins", sans-serif;
}


/* // GENERAL STYLE */

body {
  font-family: var(--FF);
  background-color: #f1f1f1;
}

/* || INVOICE PREVIEW */
.body {
  margin: auto;
  background-color: white;
  max-width: 800px;
  margin: 1rem auto;
  padding: 0rem 1rem;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 10px black;
}

.components {
  margin: 1rem auto;
  padding: 0rem 1rem;
  background-image: url('./img/dayon_background_logo.png');
  background-repeat: no-repeat;
  background-size: 25rem;
  background-position: center;
}

.invoicePreview__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.7rem;
}

.btn {
  width: 100px;
  margin: 0.2rem 0.4rem;
  padding: 0.3rem;
  border-radius: 5px;
  font-weight: bold
}

.btn-print {
  background-color: gray;
  color: white;
  border: 3px solid gray;
}

.btn-print:hover {
  background-color: transparent;
  color: gray;
}

.btn-download {
  background-color: blue;
  color: white;
  border: 3px solid blue;
}

.btn-download:hover {
  background-color: transparent;
  color: blue;
}

.btn-send {
  background-color: green;
  color: white;
  border: 3px solid green;
}

.btn-send:hover {
  background-color: transparent;
  color: green;
}

.invoicePreview__header h1 {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.dayon__header-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0000FE;
  padding: 0.5rem;
}

.logo {
  width: clamp(50px, 5rem, 120px);
  height: auto;
}

.dayon__detail2 ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.dayon__detail2 ul li {
  line-height: 1.5rem;
}

li {
  list-style-type: square;
}


.senderAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.senderAddress h2,
.clientAddress h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.clientAddress {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.invoiceId {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.invoiceId p {
  padding: 0.2rem;
  margin: 0.1rem;
}

.invoiceId p:nth-child(2) {
  background-color: rgb(237, 237, 237);
}

.invoiceId p span {
  font-weight: bold;
}

.note {
  margin-bottom: 2rem;
  width: 50%;
  text-align: justify;
}

.note P {
  font-weight: bold;
  font-size: 1.2rem;
}

.invoiceFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 2px solid gray;
  padding-top: 0.5rem;
}

.footer__article {
  margin: 0rem 0.2rem;
}

.footer__icons {
  display: inline;
  margin: 0rem 0.1rem;
}

.invoiceFooter p {
  margin: 0rem 0.2rem;
  font-size: 0.7rem;
}

.footer__account-details {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.footer__account-details p span {
  font-weight: bold;
}

.footer__account-details p {
  display: inline;
  margin: 0rem 0.2rem;
  font-size: 0.9rem;
}


/* || INVOICE INPUT */

/* main {
  margin: auto;
  max-width: 500px;
  border: 2px solid black;
} */

form {
  display: flex;
  flex-direction: column;

}

.invoice__p {
  margin: 0.2rem;
}

.invoice__label,
.invoice__input {
  display: block;
  width: 100%;
  margin: 0.2rem;
}

.invoice__label {
  font-weight: 600;
  font-size: 1rem;
}

.invoice__input {
  height: 30px;
  border-radius: 5px;
  padding-left: 0.2rem;
}

.invoice__p textarea {
  height: 4rem;
}

.inputTab {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0.2rem;
}

.inputTab input:nth-child(odd) {
  width: 3rem;
}

.inputTab p {
  font-weight: bold;
  margin: 0.5rem;
}


.invoice__formItem {
  margin-top: 0.5em;
  margin: 0.4rem;
}

.formItem__input {
  height: 30px;
  border-radius: 5px;
  padding-left: 0.2rem;
  margin: 0.2rem;
}

.formItem__input .description {
  width: 200px;
}

.addItem {
  width: 10rem;
  margin: 0.2rem 0.4rem;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: green;
  color: white;
}

.addItem:hover {
  background-color: transparent;
  color: green;
}

.invoice__p p {
  display: inline;
  padding-left: 0.7rem;
  font-weight: 550;
}

.faTrashCan {
  background-color: transparent;
  border: 0;
  margin-left: 0.3rem;
}

.previewButton {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 0.3rem;
  margin-bottom: 1rem;
  width: 150px;
  border-color: blue;
}

.previewButton:hover {
  background-color: transparent;
  color: blue;
}

/* .displayListItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
} */


/* ||  TABLE */

.table__ContainerBody {
  min-height: 50vh;
}

.table__container {
  width: 100%;
  margin-top: 2rem;
}

.table__head {
  background-color: #0000FE;
  color: white;
}

.displayListItemBody {
  background-color: #f1f1f1;
}

.displayListItemBody:nth-child(even) {
  background-color: transparent;
}

td {
  text-align: center;
}

td:nth-child(2) {
  text-align: left;
}

thead tr th {
  padding: 3px;
}

tbody tr td {
  padding: 5px;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.faEdit,
.faTrashCan {
  margin: 0.1rem;
}

@media screen and (max-width: 576px) {
  .body {
    max-width: 560px;
  }

  .inputTab {
    flex-direction: column;
    width: 50%;
    margin: 0.2rem;
  }

  .inputTab input:nth-child(odd) {
    width: auto;
  }

  .dayon__detail2 ul {
    font-size: 0.5rem;
  }


}